<div id="heading">
  <h2>
    <a href="/">FEWD 24</a>
    &rarr; Lesson <%= @lesson.lesson.to_i %> - <%= @lesson.date_human %>
  </h2>
</div>
<div id="hd-border"></div>
<div id="NavTabs"></div>
<script>
  window.MK = {
    LESSON_ID : '<%= @lesson.id.to_s %>',
    USER : <%= current_user.to_api.to_json.html_safe %>,
    CSRFTOKEN : '<%= form_authenticity_token %>'
  };

  var tabs = [];
  switch(MK.USER.type) {
      case 'Student':
          tabs.push({ name: 'Materials', content : null });
          tabs.push({
              name: 'My Feedback',
              content : Feedback,
              async : '/students/' + MK.USER.id + '/lessons/' + MK.LESSON_ID + '/feedback'
          });
          break;
      case 'Teacher':
          tabs.push({
              name: 'Feedback Data',
              content : FeedbackData,
              async : '/lessons/' + MK.LESSON_ID + '/feedbacks'
          });
          break;
  };

  MK.Nav = React.render(NavTabs(), document.getElementById('NavTabs'));
  MK.Nav.setState({ tabs : tabs });
</script>
