<div class="heading">
  <h2>Lesson <%= @lesson.lesson.to_i %> &rarr; <%= @lesson.date_human %></h2>
</div>
<div id="NavTabs"></div>
<script>
  window.MK = {
    LESSON_ID : '<%= @lesson.id.to_s %>',
    USER : <%= current_user.to_api.to_json.html_safe %>,
    CSRFTOKEN : '<%= form_authenticity_token %>'
  };

  var tabs = [];
  tabs.push({ name: 'Materials', content : null });

  switch(MK.USER.type) {
      case 'Student':
          tabs.push({
              name: 'My Feedback',
              content : Feedback,
              async : function() {
                  return $.ajax({
                      url: '/students/' + MK.USER.id + '/lessons/' + MK.LESSON_ID + '/feedback',
                      dataType: "JSON"
                  })
              }
          });
          break;
      case 'Teacher':
          tabs.push({
              name: 'Feedback Data',
              content : FeedbackData,
              async : function() {
                  return $.ajax({
                      url: '/lessons/' + MK.LESSON_ID + '/feedbacks',
                      dataType: "JSON"
                  })
              }
          });
          break;
  };

  MK.Nav = React.render(NavTabs({ data: tabs }), document.getElementById('NavTabs'));
</script>
