<div id="NavTabs"></div>
<script>
    var nav
        , user = <%= current_user.to_api.to_json.html_safe %>
        , course = <%= @course.to_api.to_json.html_safe %>
        , lesson = <%= @lesson ? @lesson.to_api.to_json.html_safe : 'null' %>
    ;
    window.MK = { CSRFTOKEN : '<%= form_authenticity_token %>' };
  <%- if Rails.env.production? %>
    analytics.identify(user.id, { name: user.name, email: user.email });
  <%- end %>

    nav = React.render(NavTabs({
                                user: user,
                                course: course,
                                lesson: lesson || course.lessons[0],
                                CSRFTOKEN : '<%= form_authenticity_token %>'
                            }), document.getElementById('NavTabs'));
    nav.setState({
        active: 'lessons'
    });
</script>
